*{
    padding: 0px;
    margin: 0px;}
body {
        font-family: 'Lato', sans-serif;}

/*header section is here*/
.banner {
    background: rgba(229, 84, 115, 0.1);
    padding: 50px 240px 0px;
    height: 850px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    
}

text {
    max-width: 700px;
    }

.let{
    color: #272727;
font-size: 90px;
font-weight: 800;
width: 700px;

}

.it-is {
    color: rgba(39, 39, 39, 0.60);
font-size: 30px;
font-weight: 400;
line-height: 30px;
width: 650px;
margin-top:32px ;
}

.pts {
    border-radius: 8px;
background: #f56d6d;
padding: 20px 43px;
gap: 10px;
color: white;

}

.img {
    width: 635px;
    margin-bottom: 0px  ;
}



/*section 2 is here*/

.o-i { align-items: center;
}

.our {
    text-align: center;
    color: #272727;
    
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;
margin-top: 178px ;
 
}

.long {
    text-align: center;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
    

.imgd {
    display: flex;
    align-items: center;
    padding: 360px 2400px;
    
    
    gap: 20px;
    
    
}

.imgp {
    text-align: center;
     
    display: block;
    
    

    
    
}

.imgbg {
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
margin-bottom: 20px;}

.imgbgt {
    width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
margin-bottom: 20px;

}

.imgbgth {
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
margin-bottom: 22px;}

#one {
    padding: 67px 75px 0px;
}

#two {
    padding: 67px 75px 0px;
}

#three {
    padding: 67px 75px 0px;
}